body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #111;
  }

h1, h2 {
    text-align: center;
}

.image-container {
    position: relative;
}

#memeHeader {
    position: absolute;
    top: 25%;
    left: 10%;
}

#memeFooter {
    position: absolute;
    top: 85%;
    left: 40%;
}

#topImage {
    position: absolute;
    top: 8%;
    left: 68%;
    width: 100px;
    height: 100px;
}

