body {
    font-family: sans-serif;
    color: #111;
  }

#memeHeader {
    position: absolute;
    top: 50%;
    left: 5%;
}

#memeFooter {
    position: absolute;
    top: 75%;
    left: 20%;
}

#topImage {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 20px;
    height: 20px;
}

