body {
    background-image: url("./styles/meme.jpg");
    font-family: sans-serif;
    color: #111;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container * {
    position: absolute;
    top: 0;
  }